.subheader{
    background-color: slategray;
}

.boxhud{
    width:30px;
    height:30px;
    margin-right:20px;
    margin-left:10px;
    border-color: black;
    border: 4px solid;
    display:inline-block;
}

.default{
    background-color: deepskyblue;
}

.compare{
    background-color: lightcyan;
}

.sorted{
    background-color: lawngreen;
}